
@import url("font-awesome.min.css");
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-family: 'font-awesome', Arial, Helvetica, sans-serif;
    color: #ebebeb;
    background: #181a1b;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: 60%;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1% 0.5%;
    width: 100%;
    background: rgba(64, 66, 67, .8);
}

header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header a {
    color: white;
    text-decoration: none;
}
main h1 {
    float: center;
    text-align: center;
}
header .logo {
    font-weight: 700;
    font-size: 18px;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style-position: inside;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: 300;
    font-size: 14px;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #009999;
}

footer {
    flex-shrink: 0;
    margin-top: 40px;
    padding: 20px 0;
    width: 100%;
    background: black;
}

.page.page-details a{
    margin: 5% 1%;
    float: center;
}
.page.page-details table{
    padding: 0%;
}
.page.table a{
    margin: 5% 1%;
    float: center;
}
a {
    color: #ebebeb;
}
a:hover {
    color: #009999;
}

main {
    flex: 1 0 auto;
    padding-top: 60px;
}

.page h1{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.page h2{
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

.page.page-upload h2{
    text-align: center;
    font-size: 16px;
}

.form-group{
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}
.form-group .form-input{
    display: block;
    width:100%;
    padding: 3px 5px;
    border: 1px solid #454545;
    border-radius: 5px;
}

.form-group textarea.form-input{
    resize: vertical;
}

#upload-response p{
    text-align: center;
    color: tomato;
}

#upload-response .success p{
    text-align: center;
    color: #009999;
}

.form-group.has-error label {
    color: tomato;
}
.form-group.has-error .form-input {
    color: tomato;
    border-color: tomato;
}
.form-group .input-error {
    color: tomato;
    margin-top: 10px;
    font-size: 8m;
}

.btn{
    cursor: pointer;
    display: inline-block;
    padding: 8px 14px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    background: #009999;
    color: #ebebeb;
}

.btn:hover{
    opacity: .9;
}

/* Dropdown Button */
header nav ul li .dropbtn {
    background: transparent;
    font-size: 18px;
    color: #ebebeb;
    border: none;
  }
  
  header nav ul li .dropdown {
    position: relative;
    display: inline-block;
  }
  
  header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  header nav ul li .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #454545;
  }
  
  header nav ul li .dropdown-content a:hover {
    color: #009999;
  }
  
  header nav ul li .dropdown:hover .dropdown-content {
    display: block;}
  
  header nav ul li .dropdown:hover .dropbtn {
    color: #009999;
  }
/*-------------*/